body {
  margin: 0 auto;
  max-width: 1920px;
  display: grid;
  grid-template-areas: "addition" "header" "main" "footer";
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  position: relative;
}

.section_settings {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 32px;
}
@media (max-width: 1440px) {
  .section_settings {
    grid-template-columns: repeat(9, 1fr);
  }
}
@media (max-width: 992px) {
  .section_settings {
    grid-template-columns: repeat(6, 1fr);
  }
}

.section_padding {
  padding-left: 320px;
  padding-right: 320px;
}
@media (max-width: 1440px) {
  .section_padding {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 992px) {
  .section_padding {
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media (max-width: 560px) {
  .section_padding {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.logo {
  border: none;
  background-color: transparent;
  width: -moz-fit-content;
  width: fit-content;
}

.logo__svg {
  width: 187px;
  height: 27px;
}

.item__content_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  border-radius: 10px;
  background-color: #f6f6f6;
  padding: 0 30px 30px;
  width: 100%;
}

.item__title_card {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}

.section__title {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
}
@media (max-width: 720px) {
  .section__title {
    font-size: 24px;
  }
}

.item__descr,
.section__descr,
.form__text {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

.rate {
  position: absolute;
  display: flex;
  gap: 7px;
  top: 30px;
  bottom: auto;
  left: 30px;
  right: auto;
}
@media (max-width: 992px) {
  .rate {
    top: 33px;
  }
}
@media (max-width: 720px) {
  .rate {
    top: 18px;
    left: 16px;
  }
}

.rate__svg {
  width: 16px;
  height: 15px;
}
@media (max-width: 720px) {
  .rate__svg {
    width: 13px;
    height: 12px;
  }
}

.rate__num {
  padding: 0;
  margin: 0;
  color: #ff862f;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}
@media (max-width: 720px) {
  .rate__num {
    font-size: 12px;
  }
}

.item__link_basic {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  gap: 10px;
  padding: 0 10px;
  margin: 0 -10px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.item__link_basic:focus {
  color: #333333;
  background-color: #ebd1ff;
}
.item__link_basic:hover {
  color: #a65cf0;
}
.item__link_basic:active {
  color: #7033ac;
}

.item__link_light,
.link_light {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  gap: 10px;
  padding: 2px 10px;
  margin: 0 -10px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.item__link_light:focus,
.link_light:focus {
  color: #7033ac;
  background-color: #ebd1ff;
}
.item__link_light:hover,
.link_light:hover {
  color: #a65cf0;
}
.item__link_light:active,
.link_light:active {
  color: #7033ac;
}

.item__link_primary,
.link_primary {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a65cf0;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  gap: 10px;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.item__link_primary:focus,
.link_primary:focus {
  color: #c998f8;
  border-bottom: 2px solid #c998f8;
}
.item__link_primary:hover,
.link_primary:hover {
  border-bottom: 2px solid #a65cf0;
}
.item__link_primary:active,
.link_primary:active {
  color: #7033ac;
  border-bottom: 2px solid #7033ac;
}

.btn_primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 22px 0;
  border-radius: 10px;
  background-color: #a65cf0;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  border: 2px solid transparent;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.btn_primary:focus {
  background-color: #c998f8;
  border: 2px solid #7033ac;
}
.btn_primary:hover {
  background-color: #c998f8;
}
.btn_primary:active {
  background-color: #7033ac;
}
.btn_primary:disabled {
  background-color: #eaeaea;
  color: #999999;
}

.btn_secondary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 19px 32px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #a65cf0;
  color: #a65cf0;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.btn_secondary:focus {
  background-color: #c998f8;
  border: 2px solid #a65cf0;
  color: #ffffff;
}
.btn_secondary:hover {
  background-color: #a65cf0;
  color: #ffffff;
}
.btn_secondary:active {
  background-color: #7033ac;
  color: #ffffff;
}

.form__input {
  min-height: 54px;
  border-radius: 10px;
  background-color: #f6f6f6;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 18px;
  outline: none;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.form__input:focus {
  border: 1px solid #a65cf0;
  background-color: #f8efff;
}
.form__input:hover {
  background-color: #eaeaea;
}
.form__input:active {
  border: 1px solid #b8ec64;
  color: #333333;
}

.social__link {
  width: 30px;
  height: 30px;
}
.social__link path {
  fill: #999999;
  transition: fill 0.3s ease-in-out;
}
.social__link:focus path {
  fill: #c998f8;
}
.social__link:hover path {
  fill: #a65cf0;
}
.social__link:active path {
  fill: #7033ac;
}

.btn_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #a65cf0;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.btn_arrow svg path, .btn_arrow svg circle {
  stroke: #a65cf0;
  fill: none;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}
.btn_arrow:focus {
  color: #a65cf0;
  border-bottom: 2px solid #a65cf0;
}
.btn_arrow:focus svg path {
  stroke: #ffffff;
}
.btn_arrow:focus svg circle {
  stroke: #a65cf0;
  fill: #c998f8;
}
.btn_arrow:hover {
  color: #a65cf0;
  border-bottom: 2px solid #a65cf0;
}
.btn_arrow:hover svg path {
  stroke: #ffffff;
}
.btn_arrow:hover svg circle {
  fill: #a65cf0;
  stroke: none;
}
.btn_arrow:active {
  color: #7033ac;
  border-bottom: 2px solid #7033ac;
}
.btn_arrow:active svg path {
  stroke: #ffffff;
}
.btn_arrow:active svg circle {
  fill: #7033ac;
  stroke: none;
}
@media (max-width: 720px) {
  .btn_arrow {
    color: transparent;
    border: none;
  }
  .btn_arrow:focus, .btn_arrow:hover, .btn_arrow:active {
    color: transparent;
    border: none;
  }
  .btn_arrow:focus-visible {
    padding-left: 20px;
    left: auto;
  }
}

.btn_pagination {
  display: flex;
  min-width: 32px;
  min-height: 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid #a65cf0;
  background-color: #ffffff;
  color: #a65cf0;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn_pagination:focus {
  background-color: #c998f8;
  color: #ffffff;
}
.btn_pagination:hover {
  background-color: #a65cf0;
  color: #ffffff;
}
.btn_pagination:active, .btn_pagination-active {
  background-color: #7033ac;
  color: #ffffff;
  border: 2px solid #7033ac;
}

.addition {
  background-color: #f6f6f6;
  position: absolute;
  width: 100%;
  min-height: 50px;
}

.header {
  grid-column: 1;
  grid-row: 1;
  align-items: center;
  z-index: 2;
}
.header__tel {
  grid-column: 1/span 2;
  grid-row: 1;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  max-height: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ff862f;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.header__tel svg {
  width: 22px;
  height: 22px;
}
.header__tel svg path {
  fill: #ff862f;
  transition: fill 0.3s ease-in-out;
}
.header__tel:focus {
  color: #ff862f;
  background-color: #fff5d1;
}
.header__tel:focus svg path {
  fill: #ff862f;
}
.header__tel:hover {
  color: #ffbd59;
}
.header__tel:hover svg path {
  fill: #ffbd59;
}
.header__tel:active {
  color: #bb370e;
}
.header__tel:active svg path {
  fill: #bb370e;
}
.header__nav {
  grid-column: 6/-1;
  grid-row: 1;
  min-height: 50px;
  display: flex;
  align-items: center;
}
.header__list {
  width: 100%;
  gap: 64px;
  padding-left: 23px;
}
.header__logo {
  grid-column: 1/span 2;
  grid-row: 2;
}
.header__menu {
  grid-column: 4/-1;
  grid-row: 2;
}
.header__list_menu {
  gap: 92px;
  padding: 0;
}
.header__form {
  grid-column: 1/span 10;
  grid-row: 3;
}
.header__wrapper {
  min-height: 60px;
  border-radius: 10px 0 0 10px;
  background-color: #f6f6f6;
  padding: 0 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  outline: none;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.header__wrapper:focus-within {
  background-color: #f8efff;
  border: 2px solid #a65cf0;
}
.header__wrapper:hover {
  background-color: #eaeaea;
}
.header__wrapper:active {
  background-color: #f6f6f6;
}
.header__wrapper:active input {
  color: #333333;
}
.header__wrapper:active svg path {
  fill: #a65cf0;
}
.header__svg_search {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.header__svg_search path {
  fill: #999999;
  transition: fill 0.3s ease-in-out;
}
@media (max-width: 720px) {
  .header__svg_search {
    width: 25px;
    height: 25px;
  }
}
.header__svg_btn {
  width: 32px;
  height: 32px;
  margin-right: 0;
}
.header__svg_btn path, .header__svg_btn circle {
  stroke: #a65cf0;
}
.header__input {
  border: none;
  background-color: transparent;
  width: 100%;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  transition: color 0.3s ease-in-out;
  padding-left: 0;
}
.header__input:focus-visible {
  outline: none;
}
.header__profile {
  grid-column: -3/-1;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-self: center;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: -5px;
  margin-bottom: 5px;
}
.header__svg_cabinet path {
  fill: #a65cf0;
  transition: fill 0.3s ease-in-out;
}
.header__svg_cabinet:focus path {
  fill: #ffffff;
}
.header__svg_cabinet:focus rect {
  fill: #c998f8;
}
.header__svg_cabinet:hover path {
  fill: #c998f8;
}
.header__svg_cabinet:active path {
  fill: #7033ac;
}
.header__svg_basket rect {
  fill: none;
  transition: fill 0.3s ease-in-out;
}
.header__svg_basket path {
  fill: #a65cf0;
}
.header__svg_basket #Count {
  fill: #ffffff;
}
.header__svg_basket:focus rect {
  fill: #c998f8;
}
.header__svg_basket:focus path {
  fill: #ffffff;
}
.header__svg_basket:hover path {
  fill: #c998f8;
}
.header__svg_basket:hover #Count {
  fill: #ffffff;
}
.header__svg_basket:active path {
  fill: #7033ac;
}
.header__svg_basket:active #Count {
  fill: #ffffff;
}

.footer {
  grid-column: 1;
  grid-row: 3;
  gap: 0;
}
.footer__navigation {
  grid-column: 1/-1;
  grid-row: 1;
  padding-top: 24px;
  padding-bottom: 21px;
  row-gap: 26px;
  background-color: #eaeaea;
  align-items: flex-start;
}
.footer__logo {
  grid-column: 1/span 2;
  grid-row: 1;
}
.footer__social {
  grid-column: 1/span 2;
  grid-row: 2;
  display: flex;
  gap: 20px;
}
.footer__list {
  grid-column: 5/-1;
  grid-row: 1/span 2;
  gap: 112px;
  width: 100%;
  align-items: flex-start;
}
.footer__item_outer:nth-child(1) {
  min-width: 84px;
}
.footer__item_outer:nth-child(2) {
  min-width: 154px;
}
.footer__item_outer:nth-child(3) {
  min-width: 141px;
}
.footer__sublist {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.footer__link_title {
  margin-top: 3px;
}
.footer__copyright {
  grid-column: 1/-1;
  grid-row: 2;
  color: #999999;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
  margin-bottom: 0;
}

.main-page {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  gap: 70px;
}

.hero {
  grid-row: 1;
  grid-column: 1;
  min-height: 400px;
  background-image: url("img/hero-1920.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 76px;
  padding-bottom: 76px;
  align-items: center;
  margin-top: 30px;
}
.hero__title {
  margin: 0;
  padding: 0;
  color: #999999;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  align-self: flex-start;
  grid-column: 1/span 5;
  grid-row: 1;
}
.hero__btn {
  grid-column: 1/span 2;
  grid-row: 2;
}

.special-offers {
  grid-column: 1;
  grid-row: 2;
  row-gap: 26px;
}
.special-offers__title {
  grid-row: 1;
  grid-column: 1/-1;
}
.special-offers__list {
  grid-row: 2;
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.special-offers__item:nth-child(1) {
  grid-column: 1;
}
.special-offers__item:nth-child(2) {
  grid-column: 2/span 2;
}
.special-offers__item:nth-child(3) {
  grid-column: 4;
}
.special-offers__content {
  min-height: 511px;
}
.special-offers__ability {
  position: absolute;
  left: auto;
  right: 30px;
}
.special-offers__pricetag {
  position: absolute;
  top: 30px;
  left: 0;
  right: auto;
}
.special-offers__price {
  position: absolute;
  margin: 0;
  top: 7px;
  left: 20px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}
.special-offers__img {
  align-self: center;
  margin-bottom: 9px;
}
.special-offers__title_card {
  margin-bottom: 23px;
  max-width: 255px;
}
.special-offers__prices {
  display: flex;
  margin-bottom: 20px;
  gap: 30px;
}
.special-offers__prices_newprice {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  color: #ff862f;
}
.special-offers__prices_oldprice {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #999999;
  text-decoration: line-through;
}

.high-rate {
  grid-row: 3;
  grid-column: 1;
  row-gap: 26px;
}
.high-rate__title {
  grid-row: 1;
  grid-column: 1/-1;
}
.high-rate__list {
  grid-row: 2;
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.high-rate__content {
  min-height: 420px;
}
.high-rate__img {
  align-self: center;
  margin: 0 -15px 9px;
}
.high-rate__title_card {
  margin-bottom: 11px;
  max-width: 266px;
}
.high-rate__price {
  margin-bottom: 20px;
}

.advertise {
  grid-row: 4;
  grid-column: 1;
  min-height: 600px;
  background-image: url("img/advertisement-1920.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 150px;
  align-items: center;
}
.advertise__title {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  align-self: flex-start;
  grid-column: 1/span 5;
  grid-row: 1;
}
.advertise__title_special {
  color: #d5b986;
  font-family: Playfair Display;
  font-size: 60px;
  font-weight: 900;
  line-height: 120%;
}
.advertise__btn {
  grid-column: 1/span 2;
  grid-row: 2;
  align-self: flex-end;
}

.top-categories {
  grid-row: 5;
  row-gap: 26px;
}
.top-categories__title {
  grid-row: 1;
  grid-column: 1/-1;
}
.top-categories__list {
  grid-row: 2;
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  gap: 32px;
}
.top-categories__item:nth-child(1) {
  grid-row: 1;
  grid-column: 1/span 3;
}
.top-categories__item:nth-child(1) .top-categories__content {
  min-height: 511px;
}
.top-categories__item:nth-child(2) {
  grid-row: 1;
  grid-column: 4/span 3;
}
.top-categories__item:nth-child(2) .top-categories__content {
  min-height: 511px;
}
.top-categories__item:nth-child(3) {
  grid-row: 2;
  grid-column: 1/span 2;
}
.top-categories__item:nth-child(4) {
  grid-row: 2;
  grid-column: 3/span 2;
}
.top-categories__item:nth-child(5) {
  grid-row: 2;
  grid-column: 5/span 2;
}
.top-categories__content {
  max-height: 405px;
  padding: 30px;
  width: 100%;
}
.top-categories__sublist {
  gap: 30px;
  margin-bottom: 15px;
}
.top-categories__title_card {
  margin-bottom: 30px;
}
.top-categories__img {
  align-self: flex-start;
  margin: 0 -30px 27px;
}

.useful {
  grid-row: 6;
  grid-column: 1;
  row-gap: 26px;
}
.useful__title {
  grid-row: 1;
  grid-column: 1/-1;
}
.useful__list {
  grid-row: 2;
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 26px;
}
.useful__content {
  min-height: 676px;
}
.useful__descr {
  margin-bottom: 35px;
  min-height: 98px;
}
.useful__img {
  margin: 0 -30px 25px;
  border-radius: 10px 10px 0 0;
}

.contact {
  grid-row: 7;
  grid-column: 1;
  align-items: flex-start;
  margin-bottom: 70px;
}
.contact__form {
  grid-row: 1;
  grid-column: 1/span 6;
  display: flex;
  flex-direction: column;
}
.contact__title {
  margin-bottom: 9px;
}
.contact__descr {
  color: #666666;
  font-size: 14px;
  margin-bottom: 16px;
}
.contact__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 27px;
}
.contact__wrapper_btn {
  gap: 12px;
  margin-bottom: 0;
}
.contact__btn {
  padding: 19px 35px;
  max-width: 159px;
}
.contact__checkbox {
  display: inline-flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 19px;
}
.contact__input_checkbox {
  visibility: hidden;
  width: 19px;
  height: 19px;
  position: absolute;
}
.contact__input_checkbox + svg #Frame {
  fill: #ffffff;
  stroke: #999999;
  transition: opacity 0.3s ease-in-out;
}
.contact__input_checkbox:checked + svg #Box {
  fill: #a65cf0;
  transition: opacity 0.3s ease-in-out;
}
.contact__input_checkbox:checked + svg #Path {
  stroke: #ffffff;
  transition: opacity 0.3s ease-in-out;
}
.contact__text {
  font-size: 14px;
}
.contact__link {
  color: #a65cf0;
  text-decoration: underline;
}
.contact__svg_custom {
  margin-right: 8px;
}
.contact__img {
  grid-row: 1;
  grid-column: 7/span 6;
  align-self: center;
}

.catalogue {
  grid-column: 1;
  grid-row: 2;
  margin-top: 15px;
  row-gap: 26px;
}
.catalogue__root {
  grid-column: 1/-1;
  grid-row: 1;
  font-size: 18px;
  line-height: 130%;
  color: #999999;
  display: flex;
  gap: 5px;
}
.catalogue__link:last-of-type {
  color: #7033ac;
}
.catalogue__filters {
  grid-column: 1/span 3;
  grid-row: 2/span 2;
  display: flex;
  flex-direction: column;
}
.catalogue__title {
  grid-row: 2;
  grid-column: 4/-1;
  line-height: 130%;
  font-size: 24px;
}
.catalogue__title_second {
  line-height: 130%;
  font-size: 18px;
  margin-bottom: 22px;
}
.catalogue__form_color, .catalogue__form_category {
  margin-bottom: 14px;
}
.catalogue__form_price {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 20px;
}
.catalogue__form_price .catalogue__title_filters {
  margin-bottom: 4px;
}
.catalogue__text:first-of-type {
  margin-right: 2px;
}
.catalogue__title_filters {
  line-height: 130%;
  font-size: 16px;
  font-weight: 600;
  color: #666666;
  margin-bottom: 9px;
}
.catalogue__point {
  display: inline-flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 20px;
  margin-bottom: 12px;
}
.catalogue__checkbox {
  visibility: hidden;
  width: 21px;
  height: 20px;
  position: absolute;
}
.catalogue__checkbox + svg .Frame {
  fill: #ffffff;
  stroke: #999999;
  transition: opacity 0.3s ease-in-out;
}
.catalogue__checkbox:checked + svg .Box {
  fill: #a65cf0;
  transition: opacity 0.3s ease-in-out;
}
.catalogue__checkbox:checked + svg .Path {
  stroke: #ffffff;
  transition: opacity 0.3s ease-in-out;
}
.catalogue__svg_custom {
  margin-right: 12px;
}
.catalogue__text {
  line-height: 130%;
  font-size: 16px;
  color: #666666;
}
.catalogue__input_field {
  max-width: 86px;
  min-height: 30px;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 13px;
  margin: 0 7px;
  border-radius: 2px;
  border: 1px solid #999999;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.catalogue__input_field:focus, .catalogue__input_field:focus-visible {
  border: 1px solid #a65cf0;
  background-color: #ebd1ff;
  outline: none;
}
.catalogue__input_field:hover {
  border: 1px solid #a65cf0;
}
.catalogue__input_field:active {
  border: 1px solid #7033ac;
}
.catalogue__list {
  grid-row: 3/span 3;
  grid-column: 4/-1;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.catalogue__content {
  min-height: 420px;
}
.catalogue__img {
  align-self: center;
  margin: 0 -30px 13px;
}
.catalogue__title_card {
  margin-bottom: 6px;
  max-width: 266px;
}
.catalogue__price {
  margin-bottom: 23px;
}
.catalogue__pagination {
  grid-row: 6;
  grid-column: 4/-1;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 6px;
  margin-bottom: 70px;
}
.catalogue__info {
  grid-row: 5;
  grid-column: 1/span 3;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #333333;
}
.catalogue__img_info {
  border-radius: 10px 10px 0 0;
  margin: 0;
}
.catalogue__title_info {
  padding: 0;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  max-width: 200px;
  margin: 30px auto 12px 30px;
}
.catalogue__title_special {
  color: #d5b986;
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
  margin: 0;
}
.catalogue__btn_info {
  margin: 0 0 30px 30px;
}

.product-card {
  grid-column: 1;
  grid-row: 2;
  margin-top: 15px;
}
.product-card__root {
  grid-column: 1/-1;
  grid-row: 1;
  font-size: 18px;
  color: #999999;
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}
.product-card__link:last-of-type {
  color: #7033ac;
}
.product-card__product {
  grid-column: 1/-1;
  grid-row: 2;
  margin-bottom: 48px;
}
.product-card__title_product {
  line-height: 130%;
  margin-bottom: 5px;
  font-size: 24px;
}
.product-card__descr-mini {
  font-size: 14px;
  color: #999999;
  line-height: 100%;
  margin-bottom: 21px;
}
.product-card__rate_product {
  position: initial;
}
.product-card__price {
  margin-bottom: 23px;
}
.product-card__price_product {
  line-height: 130%;
  font-size: 36px;
  margin-bottom: 20px;
}
.product-card__btn_product {
  margin-bottom: 12px;
  max-width: 230px;
  padding: 18px 0;
  font-weight: 600;
}
.product-card__link_basket {
  max-width: 230px;
}
.product-card__img {
  align-self: center;
  margin: 0 -30px 13px;
}
.product-card__img_product {
  grid-column: 1/span 6;
  grid-row: 1;
  align-self: flex-start;
  margin: 0;
}
.product-card__img_addition {
  margin: 0;
}
.product-card__info-basic {
  grid-column: 7/-1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 77px;
}
.product-card__svg_rate {
  width: 16px;
  height: 15px;
}
.product-card__description {
  grid-column: 1/span 6;
  grid-row: 2;
  display: flex;
  flex-direction: column;
}
.product-card__title_descr {
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  margin-bottom: 7px;
}
.product-card__info_descr {
  font-size: 14px;
  line-height: 180%;
  margin-bottom: 8px;
}
.product-card__img_descr {
  display: flex;
  margin: auto 0 0;
  gap: 32px;
  align-self: flex-start;
}
.product-card__infolist {
  grid-column: 7/-1;
  grid-row: 2;
  flex-direction: column;
  align-items: flex-start;
}
.product-card__item_info {
  display: flex;
  position: relative;
  font-size: 5px;
  letter-spacing: 3px;
  color: #999999;
  line-height: 18px;
  max-width: 544px;
  overflow: hidden;
  padding-top: 7px;
}
.product-card__descr_characteristics {
  font-size: 14px;
  color: #999999;
  line-height: 180%;
  position: absolute;
  background-color: #ffffff;
  padding-right: 4px;
  letter-spacing: normal;
  left: 0;
  right: auto;
  top: 0;
}
.product-card__descr_feature {
  font-size: 14px;
  line-height: 180%;
  position: absolute;
  background-color: #ffffff;
  padding-left: 4px;
  letter-spacing: normal;
  min-width: 220px;
  left: auto;
  right: 0;
  top: 0;
}
.product-card__related {
  grid-column: 1/-1;
  grid-row: 3;
  margin-bottom: 70px;
}
.product-card__relatedlist {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.product-card__title_related {
  line-height: 130%;
  margin-bottom: 25px;
  font-size: 24px;
}
.product-card__content {
  min-height: 420px;
}
.product-card__title_card {
  margin-bottom: 6px;
  max-width: 266px;
}

.cooperation {
  grid-column: 1;
  grid-row: 2;
  margin-top: 15px;
}
.cooperation__root {
  grid-column: 1/-1;
  grid-row: 1;
  line-height: 130%;
  font-size: 18px;
  color: #999999;
  display: flex;
  gap: 5px;
  margin-bottom: -4px;
}
.cooperation__link:last-of-type {
  color: #7033ac;
}
.cooperation__title {
  grid-column: 1/-1;
  grid-row: 2;
}
.cooperation__providers {
  grid-column: 1/span 8;
  grid-row: 3;
}
.cooperation__title_parts {
  line-height: normal;
  margin-bottom: 12px;
  font-size: 24px;
}
.cooperation__descr_providers {
  font-size: 16px;
  line-height: 180%;
  color: #666666;
}
.cooperation__services {
  grid-column: 1/span 6;
  grid-row: 4;
}
.cooperation__list_services {
  flex-direction: column;
  gap: 12px;
}
.cooperation__item_services {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cooperation__svg {
  max-width: 25px;
  max-height: 25px;
  margin-right: 12px;
}
.cooperation__descr_services {
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}
.cooperation__benefits {
  grid-column: 1/span 8;
  grid-row: 5;
}
.cooperation__list_benefits {
  flex-direction: column;
  gap: 13px;
}
.cooperation__item_benefits {
  display: flex;
  flex-direction: column;
}
.cooperation__title_steps {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: #ff862f;
  margin-bottom: 12px;
}
.cooperation__descr_benefits {
  font-size: 16px;
  line-height: 180%;
  color: #666666;
}
.cooperation__guarantees {
  grid-column: 1/span 8;
  grid-row: 6;
}
.cooperation__list_guarantees {
  list-style: decimal;
  flex-direction: column;
  gap: 13px;
  padding-left: 18px;
}
.cooperation__item_guarantees {
  font-size: 16px;
  line-height: 180%;
  color: #666666;
  padding-left: 8px;
}
.cooperation__item_guarantees::marker {
  font-size: 16px;
  font-weight: 600;
  line-height: 180%;
  color: #ff862f;
}
.cooperation__note {
  grid-column: 1/span 6;
  grid-row: 7;
  display: flex;
  gap: 32px;
  align-items: center;
  margin-bottom: 70px;
}
.cooperation__descr_note {
  line-height: 150%;
}/*# sourceMappingURL=4-grid.css.map */