// colors
$primary: #a65cf0;
$primary_light: #c998f8;
$primary_shade: #7033ac;
$white: #ffffff;
$grey: #999999;
$md_grey: #eaeaea;
$grey_shade: #666666;
$grey_light: #f6f6f6;
$pink_violet: #ebd1ff;
$pink_light: #f8efff;
$black: #333333;
$green_input: #b8ec64;
$secondary: #ff862f;
$secondary_light: #ffbd59;
$bone: #fff5d1;
$secondary_shade: #bb370e;
$gold: #d5b986;










